@model BeanScene.Data.Sitting

@{
    ViewData["Title"] = "Sitting Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Details</h1>

    <div>
        <h4>Sitting "@Html.DisplayFor(model => model.DayOfWeek) @Html.DisplayFor(model => model.MealType)"</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DayOfWeek):
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DayOfWeek)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MealType):
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MealType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StartTime):
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StartTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EndTime):
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EndTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsActive):
            </dt>
            @if (Model.IsActive)
            {
                <dd class="col-sm-10 text-primary">
                    Active
                </dd>
            }
            else
            {
                <dd class="col-sm-10 text-warning">
                    Disabled
                </dd>
            }
        </dl>
    </div>
    <div>
        <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Manage" class="btn btn-primary">Back to List</a>
    </div>
</div>
