@model IEnumerable<BeanScene.Data.Customer>

@{
    ViewData["Title"] = "Manage Customers";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Manage Customers</h1>
    <p></p>
    <p>
        <a class="btn btn-primary btn-lg" asp-action="Create">Create New</a>
    </p>
    @using (Html.BeginForm())
    {
        <p>
            Search by Surname or Phone Number:  @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
    <div class="table-section">
        <div class="header-manager p-2">
            <h4 class="ms-1 text-white">Customers</h4>
        </div>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink("First Name", "Manage", new { sortOrder = ViewBag.FirstSortParm })
                    </th>
                    <th>
                        @Html.ActionLink("Last Name", "Manage", new { sortOrder = ViewBag.LastSortParm })
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateOfBirth)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VisitCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tier)
                    </th>
                    <th>Manage Customers</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    @if (item.DateOfBirth == DateTime.Parse("1/01/0001"))
                    {
                        <td>
                            Unknown.
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.LongDate)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VisitCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tier)
                    </td>
                    @if (User.IsInRole("Manager"))
                    {
                        <td>
                            <a class="btn btn-success btn-sm" asp-action="Edit" asp-route-id="@item.Id">Update</a> |
                            <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                            <a class="btn btn-secondary text-white btn-sm" asp-controller="Booking" asp-action="CreateExisting" asp-route-id="@item.Id">New Booking</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a class="btn btn-success btn-sm" asp-action="Edit" asp-route-id="@item.Id">Update</a> |
                            <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a class="btn btn-secondary text-white btn-sm" asp-controller="Booking" asp-action="CreateExisting" asp-route-id="@item.Id">New Booking</a>
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>